 * {
   padding: 0;
   margin: 0;
 }

 html {
   font-size: 16px; 
   font-family: Arial, sans-serif;
 }

 header {
   background: #330066;
 }

 nav {
   width: 100%;
   padding: 1% 0;
   overflow: hidden;
 }

 nav .main-menu li {
  list-style-type: none;
 }

 .burger-nav {
   cursor: pointer;
   float: left;
   margin-right: 2%;
   margin-top: -1.3%;
 }

 /* Mega Menu */

 .wrapper {
   width: 960px;
   margin: 0 auto;
   height: 550px;
 }

 .wrapper ul {

 }

 .wrapper ul li {
   list-style-type: none;
 }

 .icon {
   float: left;
   margin: 3% 5% 0 2%;
 }

 .fa-users {
   color: #ffffff;
   font-size: 25px;
 }

 .fa-handshake {
  color: #ffffff;
  font-size: 25px;
}

.fa-user-md {
  color: #ffffff;
  font-size: 25px;
}

.fa-pound-sign {
  color: #ffffff;
  font-size: 25px;
}

.fa-newspaper {
  color: #ffffff;
  font-size: 25px;
}

.fa-twitter {
  color: #ffffff;
  font-size: 25px;
}

.fa-envelope {
  color: #ffffff;
  font-size: 25px;
}

 hr.divider {
  border: 0;
  height: 1px;
  background: #f2f2f2;
  box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

 .left-links {
   float: left;
   width: 48%;
   padding: 1%;
 }

 .right-links {
   float: right;
   width: 48%;
   padding: 1%;
 }

 .right-links span {
   margin-right: 3%;
 }

 .link-container {
   margin-top: 2%;
   margin-bottom: 15%;
 }

 .link-container:after {
   content: '';
   display: block;
   clear: both;
 }

.link-content {
  color: #ffffff;
  font-size: 15px;
  margin: 2% 0 2% 11%;
}

.link-content.grey {
  color: #cccccc;
  padding-bottom: 1%;
}

.button-container {
  text-align: center;
  padding-top: 2%;
}

.buttonLink {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #1a0033;
}

#aboutButton {
  background: #330066;
  color: #ffffff;
  border-radius: 30px;
}

#servicesButton {
  color: #ffffff;
  background: #1a0033;
  border-radius: 0px 30px 30px 0px;
}

.footer-container ul {
  text-align: center;
}

.footer-container ul li {
  display: inline;
  margin-left: 40px;
}

.footer-container ul li a {
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
}

 

