
html {
  font-size: 16px;
}

body {
  background: #b3d9ff;
}

h4 {
  padding: 0;
  margin: 0; 
}

.wrapper {
  max-width: 960px;
  background: pink;
  margin: 0 auto;
}

.main-menu {
  list-style-type: none;
  background: yellow;
  margin: 0;
  padding: 0;
  text-align: center
}

.main-menu li {
  display: inline;
}

.lower-menu {
  list-style-type: none;
  background: green;
  margin: 0;
  padding: 0;
  text-align: center;
}

.lower-menu li {
  display: inline;
}

/* Content */

.column {
  float: left;
  width: 50%;
}

.mini-column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: block;
  clear: both;
}



.imageControl {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
}

#bidInput {
  width: 52%;
}

.secondHalfButtons {
  display: inline;
  float: right;
}








/* Footer */

.signup {
  background: white;
}

#signupText {
  background: lightcoral;
}

.contactInfo {
  background: white;
}

.contactList {
  list-style-type: none;
  padding: 0;
}

.footerInfo {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerInfo li {
  display: inline;
}






