
html {
  font-size: 16px;
}

.testy {
  padding-right: 11%;
}

body {

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.top-menu {
  background: #efefef;
  padding: 7px;
}

.smaller-menu {
  padding: 14px;
}


.image-thumbnails {
  margin-left: 33%;
}






.signup-bar {
  background: #053960;
  padding: 17px;
  color: #fff;
}
 span.terms {
   padding: 15px;
 }

/* Bidding table */

.top-bid-row {
  background: #efefef;
  border: 1px solid #efefef;
}

.other-bid-rows {
  border: 1px solid #efefef;
}
